<div
  class="container"
  style="display: flex; background: rgb(30, 30, 30); margin-top: 3%"
>
  <div class="left" style="flex: 1.5">
    <p
      style="
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4rem;
        line-height: 90%;
      "
    >
      <b>
        Hello 👋 <br />
        My name is</b
      >
    </p>
    <p
      style="
        font-size: 4.5rem;
        color: aqua;
        font-family: 'Courier New', Courier, monospace;
      "
    >
      <b>"Shawn Davies"</b>
    </p>
    <p
      style="
        color: gray;
        font-family: 'Courier New', Courier, monospace;
        margin-top: -3%;
        margin-right: 5%;
      "
    >
      &lbrace;"As a computer science student at Institut Sains dan Teknologi
      Terpadu Surabaya University, I am passionate about using technology to
      solve problems and improve the world around me. I am also equipped with
      with fundamental design skills which includes video editing, graphic
      design, and photo editing. Communication is a strong point for me, as I do
      love to present and make pitches. My ultimate goal is to work as a
      software engineer at a cutting edge technology company where I can
      continue to learn and grow."&rbrace;
    </p>
    <img
      src="../../assets/linkedin.png"
      alt="LinkedIn Image"
      style="width: 5%; margin-top: 1%; cursor: pointer"
    />
  </div>
  <div class="right" style="background: green; flex: 1">bbb</div>
</div>
