<div class="container" style="display: flex">
  <div class="container mt-3">
    <h3
      style="
        font-family: 'Courier New', Courier, monospace;
        color: aqua;
        text-align: center;
        text-decoration: none;
      "
    >
      <b style="word-spacing: -0.5rem; font-size: 3rem">Get in touch with me</b>
    </h3>
    <p
      class="mt-4"
      style="
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 4rem;
        font-size: 2rem;
      "
    >
      <a style="color: rgb(248, 87, 248)">class Contact</a
      ><a style="color: white">&lbrace;</a><br /><a
        class="ms-3"
        style="font-style: normal; text-decoration: none"
        >phoneNumber:</a
      ><a style="color: rgb(207, 255, 14)"> '6281230022218'</a> <br /><a
        class="ms-3"
        style="font-style: normal; text-decoration: none"
        >emailContact:</a
      ><a style="color: crimson"> 'shawnforbusiness01&#64;gmail.com'</a>
      <br /><a class="ms-3" style="font-style: normal; text-decoration: none"
        >LinkedIn:</a
      ><a style="color: rgb(255, 165, 63)"> 'https://bit.ly/3L7USqB'</a>
      <br /><a class="ms-3" style="font-style: normal; text-decoration: none"
        >Github:</a
      ><a style="color: rgba(25, 218, 214, 0.918)">
        'https://github.com/ShawndeSheep'</a
      >
      <br /><a style="color: white"> &rbrace; </a>
    </p>
  </div>
</div>
